@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

a {
  color: inherit;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
  --transition-1: all 0.4s ease-in-out;
}

.light-mode {
  --color-black: #000;
  --color-primary: #fbeaeb;
  --color-secondary: #2f3c7e;
  --color-white: #191d2b;
  --color-gray-0: #12181b;
  --color-gray-1: #2a2e35;
  --color-gray-2: #454e56;
  --color-gray-3: #6c7983;
  --color-gray-4: #b2becd;
  --color-gray-5: #dbe1e8;
  --color-gray-6: #f8f8f8;
}

i {
  color: var(--color-secondary);
}

.btn-container {
  align-self: flex-start;
  display: flex;
}

.main-btn {
  align-items: center;
  align-self: self-start;
  border: 1px solid var(--color-secondary);
  border-radius: 30px;
  color: inherit;
  display: flex;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  align-items: center;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.main-btn .btn-icon i {
  color: var(--color-white);
  font-size: 120%;
}
.main-btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: var(--transition-1);
  z-index: -1;
}
.main-btn:hover::before {
  background-color: var(--color-secondary);
  height: 100%;
  transform: translateX(0);
  transition: var(--transition-1);
  width: 100%;
}

body {
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  scrollbar-width: none;
  transition: var(--transition-1);
}
body::-webkit-scrollbar {
  display: none;
}

section {
  left: 0;
  min-height: 100vh;
  padding: 3rem 10rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.section {
  background-color: var(--color-primary);
  transform: translateY(-100%) scale(0);
  transition: var(--transition-1);
}

.sec1,
.sec2,
.sec3,
.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  animation: scaleAnim 0.8s ease-in-out;
  display: block;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}

.header {
  color: var(--color-white);
  min-height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 610px) {
  .header {
    min-height: 100vh;
  }
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  align-items: center;
  display: flex;
  position: relative;
}
.header-content .left-header .h-shape {
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: var(--transition-1);
  width: 65%;
  z-index: -1;
}
.header-content .left-header .image {
  align-items: center;
  background-color: var(--color-black);
  border-radius: var(--br-sm-2);
  display: flex;
  height: 90%;
  justify-content: center;
  margin-left: 4rem;
  transition: var(--transition-1);
  width: 60%;
}
.header-content .left-header .image img {
  filter: grayscale(100%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition-1);
  width: auto;
  padding: 2rem 1rem 0rem 1rem;
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  line-height: 2rem;
  margin: 1.5rem;
}
.header-content .right-header p::first-letter {
  font-size: 150%;
  font-weight: 500;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  color: var(--color-gray-5);
  font-size: 6.3rem;
  font-weight: 800%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-1);
  z-index: -1;
}

.about-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: hidden;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-container .left-about p {
  color: var(--color-gray-1);
  line-height: 2rem;
  padding: 1rem;
}
.about-container .right-about {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-gray-5);
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition-1);
}
.about-container .right-about .about-item:hover {
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
  cursor: default;
  transform: translateY(-5px);
}
.about-container .right-about .about-item .abt-text {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
}
.about-container .right-about .about-item .abt-text .large-text {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 700;
}
.about-container .right-about .about-item .abt-text .small-text {
  color: var(--color-gray-1);
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  background-color: var(--color-gray-5);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 2rem;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  font-weight: 500;
  text-transform: uppercase;
}
.about-stats .progress-bars .progress-bar .progress-container {
  align-items: center;
  display: flex;
}
.about-stats .progress-bars .progress-bar .progress-container .prog-text {
  color: var(--color-gray-2);
}
.about-stats .progress-bars .progress-bar .progress-container .progress {
  background-color: var(--color-gray-4);
  height: 0.45rem;
  margin-left: 1rem;
  position: relative;
  width: 100%;
}
.about-stats .progress-bars .progress-bar .progress-container .progress span {
  background-color: var(--color-secondary);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.stat-title {
  font-size: 1.4rem;
  padding: 3.5rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.stat-title::before {
  background-color: var(--color-gray-5);
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
  width: 40%;
}

.timeline {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  border-left: 1px solid var(--color-gray-5);
  padding-left: 3rem;
  position: relative;
}
.timeline .timeline-item .tl-icon {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  left: -27px;
  position: absolute;
  top: 0;
  width: 50px;
}
.timeline .timeline-item .tl-icon i {
  color: var(--color-white);
  font-size: 1.2rem;
}
.timeline .timeline-item .tl-duration {
  background-color: var(--color-gray-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
}
.timeline .timeline-item h5 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0;
  text-transform: uppercase;
}
.timeline .timeline-item h5 span {
  color: var(--color-gray-2);
  font-size: 1.2rem;
  font-weight: 500;
}
.timeline .timeline-item p {
  color: var(--color-gray-2);
}
.timeline .timeline-item .tl-para {
  padding-left: 5%;
  text-align: justify;
  width: 85%;
}

.portfolio .port-text {
  padding: 2rem 0;
  text-align: center;
}
.portfolio .portfolios {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}
.portfolio .portfolios .portfolio-item {
  position: relative;
}
.portfolio .portfolios .portfolio-item .image img {
  border-radius: 15px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.portfolio .portfolios .portfolio-item .hover-items {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: var(--transition-1);
  width: 100%;
}
.portfolio .portfolios .portfolio-item .hover-items h3 {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.portfolio .portfolios .portfolio-item .hover-items .icons {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.portfolio .portfolios .portfolio-item .hover-items .icons .icon {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  transition: var(--transition-1);
  width: 50px;
}
.portfolio .portfolios .portfolio-item .hover-items .icons .icon i {
  color: var(--color-white);
  font-size: 1.5rem;
}
.portfolio .portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolio .portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}
.portfolio .portfolios .portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  font-size: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  line-height: 2rem;
  margin: 1rem 0;
}
.contact-content-con .left-contact .contact-info .contact-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  align-items: center;
  display: flex;
  grid-gap: 0.5rem;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  align-items: center;
  background-color: var(--color-gray-5);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  height: 50px;
  justify-content: center;
  transition: var(--transition-1);
  width: 50px;
}
.contact-content-con .left-contact .contact-icon a i {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  background-color: var(--color-gray-5);
  border: none;
  border-radius: 30px;
  color: var(--color-white);
  outline: none;
  padding: 0.8rem 1.1rem;
  resize: none;
  width: 100%;
}
.contact-content-con .right-contact .input-control-1 {
  display: flex;
  gap: 2rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: var(--transition-1);
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  align-items: center;
  animation: none;
  background-color: var(--color-gray-4);
  border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  display: flex;
  height: 55px;
  justify-content: center;
  margin: 0.7rem 0;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  width: 55px;
}
.controls .control i {
  color: var(--color-gray-2);
  font-size: 1.4rem;
  pointer-events: none;
}
.controls .control:active {
  transform: translateX(-15px);
}

.theme-btn {
  align-items: center;
  background-color: var(--color-gray-4);
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  position: fixed;
  right: 2.5%;
  top: 3%;
  transition: all 0.1s ease-in-out;
  width: 70px;
}
.theme-btn i {
  color: var(--color-gray-2);
  font-size: 1.3rem;
  pointer-events: none;
}
.theme-btn:active {
  transform: translateY(-5px);
}

@media screen and (max-width: 1444px) {
  .section {
    padding: 6rem 7rem 6rem 5rem;
  }
  header {
    padding: 0 !important;
  }
  .header-content .left-header .h-shape {
    width: 70%;
  }
  .header-content .left-header .image {
    width: 70%;
  }
  .header-content .right-header {
    padding-right: 5rem;
  }
  .about-container {
    gap: 1rem;
  }
  .about-container .left-about {
    padding-right: 2rem;
  }
  .about-container .left-about h4 {
    font-size: clamp(1rem, 7vw, 1.75rem);
  }
  .about-container .right-about {
    grid-gap: 1rem;
  }
  .about-container .right-about .about-item .abt-text {
    padding: 1rem;
  }
  .contact .contact-content-con {
    flex-direction: column;
  }
  .contact .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact .contact-content-con .right-contact .contact-form .input-control-1 {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .header-content .left-header .h-shape {
    width: 90%;
  }
  .header-content .left-header .image {
    width: 80%;
  }
  .header-content .right-header {
    padding-right: 5rem;
  }
  .main-title h2 {
    font-size: clamp(2rem, 7vw, 4rem);
  }
  .main-title h2 span {
    font-size: clamp(2rem, 7vw, 4rem);
  }
  .main-title h2 .bg-text {
    font-size: clamp(3rem, 7vw, 4.5rem);
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-gap: 1rem;
    padding-top: 2.5rem;
  }
  .about-container .right-about .about-item .abt-text {
    padding: 1rem;
  }
  .timeline {
    padding-bottom: 6rem;
  }
  .timeline .timeline-item {
    padding-left: 2rem;
  }
  .timeline .timeline-item .tl-icon {
    height: 40px;
    width: 40px;
  }
  .timeline .timeline-item .tl-icon i {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
  .timeline .timeline-item .tl-duration {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  .timeline .timeline-item h5 {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
  .timeline .timeline-item h5 span {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
  }
  .timeline .timeline-item .tl-para {
    font-size: clamp(0.8rem, 4vw, 1rem);
    width: 90%;
  }
  .portfolio .portfolios {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 6rem;
  }
  .contact {
    padding-bottom: 6rem !important;
  }
}
@media screen and (max-width: 970px) {
  .section {
    padding: 0 4rem;
  }
  header {
    padding: 0;
  }
  header .header-content {
    grid-template-columns: 1fr;
    padding: 1rem;
    padding-bottom: 6rem;
  }
  header .header-content .left-header .h-shape {
    display: none;
  }
  header .header-content .left-header .image {
    margin: 0 auto;
    width: 80%;
  }
  header .header-content .right-header {
    grid-row: 1;
    margin: 0 auto;
    padding: 0rem !important;
    width: 90%;
  }
  header .header-content .right-header .name {
    font-size: clamp(1.5rem, 10vw, 2rem) !important;
  }
  header .header-content .right-header p {
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: 1.5rem;
  }
  .controls {
    background-color: var(--color-gray-5);
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    width: 100%;
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
  .controls .control:active {
    transform: translateX(0px);
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }
  .main-btn .btn-text {
    font-size: clamp(1rem, 3vw, 1.25rem);
    padding: 0 clamp(1rem, 3vw, 1.25rem);
  }
  .main-btn .btn-icon i {
    font-size: 100%;
  }
  .main-title h2 {
    font-size: clamp(1.5rem, 7vw, 2rem);
  }
  .main-title h2 span {
    font-size: clamp(1.5rem, 7vw, 2rem);
  }
  .main-title h2 .bg-text {
    font-size: clamp(2rem, 10vw, 3rem);
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about h4 {
    font-size: clamp(1.1rem, 5vw, 1.55rem);
  }
  .about-container .left-about p {
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: 1.5rem;
    padding-left: 0;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .right-about .about-item .abt-text {
    padding: 1rem;
  }
  .about-container .right-about .about-item .abt-text .large-text {
    font-size: clamp(1.5rem, 7vw, 2rem);
  }
  .about-container .right-about .about-item .abt-text .small-text {
    font-size: clamp(0.8rem, 3vw, 1rem);
    padding: 0rem 2rem 0rem 4rem;
  }
  .about-container .right-about .about-item .abt-text .small-text::before {
    left: 5%;
    top: 15px;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .timeline .timeline-item {
    padding-left: 2rem;
  }
  .timeline .timeline-item .tl-icon {
    height: 40px;
    width: 40px;
  }
  .timeline .timeline-item .tl-icon i {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  .timeline .timeline-item .tl-duration {
    font-size: clamp(0.6rem, 3vw, 0.8rem);
  }
  .timeline .timeline-item h5 {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
  .timeline .timeline-item h5 span {
    font-size: clamp(0.9rem, 3.5vw, 1.1rem);
  }
  .timeline .timeline-item .tl-para {
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    width: 90%;
  }
  .portfolio .portfolios {
    grid-gap: clamp(1.5rem, 7vw, 2rem);
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolio .portfolio-item .image img {
    height: clamp(12.5rem, 50vw, 18.75rem) !important;
  }
  .portfolio .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
  }
  .portfolio .portfolio-item .hover-items .icons .icon {
    height: 40px;
    width: 40px;
  }
  .portfolio .portfolio-item .hover-items .icons .icon i {
    font-size: 1.2rem;
  }
  .contact .contact-content-con {
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .contact .contact-content-con .left-contact h4 {
    font-size: clamp(1.3rem, 5vw, 1.75rem);
  }
  .contact .contact-content-con .left-contact p {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
  }
  .contact .contact-content-con .left-contact .contact-info .contact-item .icon {
    font-size: clamp(0.8rem, 3vw, 1.1rem);
  }
  .contact .contact-content-con .left-contact .contact-info .contact-item p {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  .contact .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact .contact-content-con .right-contact .contact-form .input-control input,
  .contact .contact-content-con .right-contact .contact-form .input-control textarea {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    padding: 0.6rem 1rem;
  }
  .contact .contact-content-con .right-contact .contact-form .input-control-1 {
    flex-direction: column;
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    gap: 1.5rem;
  }
  .controls {
    gap: 1rem;
  }
  .theme-btn {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 600px) {
  .section {
    padding: 2rem 2.5rem;
  }
  .about-container .right-about .about-item .abt-text .small-text {
    padding: 0rem 2rem 0rem 3.25rem;
  }
  .about-container .right-about .about-item .abt-text .small-text::before {
    left: 5%;
    top: 10px;
  }
}/*# sourceMappingURL=style.css.map */